
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
    font-family: 'poppins';
    overflow-x: hidden;
}
html,body,.page1,#page2{
    width:100%;
    height:100%;
    background-color: black;
}
nav{
    background-color: white;
    width:100%;
    height:120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
#navtitle{
    font-size: 25px;
    padding-left:20px;
    font-weight: 600;
}
#navlinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.links {
    padding:0 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 400;
}
.links:hover{
    font-size: 22px;
    color:rgb(142, 234, 142);
    transition: 0.6s ease;
}
.coverphoto{
    width:100%;
    height:calc( 100% - 120px );
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("landscape.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.covermatter{
    position: relative;
    top:50%;
    padding:0 100px;
    font-size: 45px;
    
}
#covereffect{
    color:rgb(72, 233, 72);
}
blockquote{
    font-size: 20px;
}
cite{
    color:white
}
.covermatter h2,blockquote{
    color:white;
}


#page3{
    width:100%;
    height: 100%;
    background-color: white;
}
#page3 h1{
    text-align: center;
    color:black;
    margin:30px 0;
    font-size: 40px;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutmatter{
    width:500px;
    height:auto;
}
.aboutmatter p{
    color:black;
    font-size: 15px;
}
.aboutphoto{
    width:450px;
    height:550px;
    
}
.aboutphoto img{
    width:450px;
    height:500px;
    
}
@media (max-width:600px){
    html,body{
        width:100%;
        height:100%
    }
    nav{
        width:100%;
        height:50px;
    }
    #navtitle{
        display: none;
    }
    #navlinks{
        display: none;
    }
    .coverphoto{
    width:100%;
    height:calc( 100% - 50px );
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("FOR PORTFOLIO/0222.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    .covermatter{
        position: absolute;
        top:60%;
        left:50%;
        transform: translate(-50%,-50%);
        padding:0 100px;
        font-size: 20px;
        
    }
    .covermatter h2,blockquote{
        color:white;
    }
    #page2{
        width:100%;
        height:100%;
    }
    #page3{
        width:100%;
        height: auto;
    }
    #page3 h1{
        text-align: center;
        color:white;
        padding:100px 0;
        font-size: 20px;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding:0 20px;
    }
    .aboutmatter{
        width:90%;
        height:auto;
    }
    .aboutmatter p{
        color:white;
        font-size: 15px;
    }
    .aboutphoto{
        width:100%;
        height:70%;
        
        
    }
    .aboutphoto img{
        width:100%;
        height:100%; 

    }
}
